<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liveperson.sample.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Vibrate on new incoming msg -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--Required for Audio Messaging-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--Required for Audio Messaging and Image Sharing-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <!-- [START gcm_permission] -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- [END gcm_permission] -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/lp_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagingActivity"
            android:launchMode="singleTop"
            android:label="@string/messaging_title">
        </activity>
        <activity
            android:name=".MonitoringActivity"
            android:label="@string/monitoring_title"/>
        <activity
            android:name=".FragmentContainerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".DeepLinkActivity"
            tools:ignore="AppLinkUrlError">
            <!-- Error ignored because our sample app doesn't need to be indexed by Google for any reason. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="liveperson.com"
                    android:pathPrefix="/deeplink"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <!-- FCM -->
        <!-- This service is used to receive any incoming message -->
        <service android:name=".push.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- This service is used to receive and register the token when it is refreshed -->
        <service android:name=".push.PushRegistrationIntentService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notification.NotificationUI$BadgeBroadcastReceiver">
            <intent-filter>
                <action android:name="ACTION_LP_UPDATE_NUM_UNREAD_MESSAGES_ACTION" />
            </intent-filter>
        </receiver>
        <!-- End of FCM -->

        <!-- Huawei Push Kit -->
        <!--  The name and value in meta-data cannot be modified. -->
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
        <service
            android:name=".push.huawei.LpHmsPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--End of Huawei Push Kit -->
    </application>

</manifest>
